<%content_for :link do %>
	<ul class="title-area"><li class="name"><%= link_to 'Cerrar sesion', :controller => "logins", :action => "logout" %></li> </ul>
<% end %>
<% content_for :title do %>Bienvenido <% end %>


<div>
 <center><h3>Bienvenido <%= session[:nombre] %></h3></center>

<div class="form">
	<h5>Actualizar notas</h5>
 <%= simple_form_for @profesor do |f|  %>	
 	<%= f.file_field(:ruta) %>
	<%= f.button :button, "Cargar", :class => "enviar", :action => "create"%>	
 <% end %>
</div>

 <div class="form">
 	<h5>Consultar notas</h5>
 <%= simple_form_for @profesor, :url => url_for(:action => 'leer_notas') do |f|  %>
<%= f.button :button, "ver notas", :class => "enviar", :action => "create"%>	
 <% end %>

</div>

</div>

